<head>

</head>
<body>
    <h1>Hello World! I am the index page.</h1>

    <form action="result" method="POST">
        <label> Your Name:</label><br>
        <input type="text" name="name"><br><br>
        <label>Dojo location:</label><br>
        <select name="location">
            <option value="Seattle">Seattle</option>
            <option value="San Jose">San Jose</option>
            <option value="Chicago">Chicago</option>
            <option value="D.C.">D.C.</option>
        </select><br><br>
        <label>Favorite Language:</label><br>
        <select name="favLanguage">
            <option value="Python">Python</option>
            <option value="C#">C#</option>
            <option value="Mean">Mean</option>
            <option value="JavaScript">JavaScript</option>
        </select><br><br>
        <label>Comment:</label><br>
        <textarea name="comment"></textarea><br><br>
        <button>Submit!</button>
    </form>







</body>
